<div fxLayout="row" fxLayoutAlign="start center">
  <mat-icon>home</mat-icon>
  <h3>Ruches & Ruchers</h3>
</div>
  
<button *ngIf="!afficherFormulaireRucher && !rucherService.changementPositionEnCours" (click)="afficherFormulaireRucher = true" mat-stroked-button color="primary" class="mb-4">
  Créer un rucher
</button>

<form *ngIf="afficherFormulaireRucher" [formGroup]="formulaireRucher" fxLayout="column">
  <mat-form-field>
    <input matInput type="text" placeholder="Identifiant" formControlName="identifiant">
    <mat-error>Veuillez saisir un identifiant</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="number" placeholder="Nombre de ruchers" formControlName="nombreRuches">
    <mat-error>Veuillez saisir un nombre de ruches valide</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Descriptif</mat-label>
    <mat-select  formControlName="descriptif">
      <mat-option *ngFor="let environnement of rucherService.environnements" [value]="environnement">
        {{environnement}}
      </mat-option>
    </mat-select>
    <mat-error>Veuillez saisir un descriptif</mat-error>
  </mat-form-field>

  <!-- Component permettant de modifier fréquence visite/mise à jour position du rucher -->
  <app-frequence-position-rucher *ngIf="rucherCourant" [rucher]="rucherCourant" class="mb-4"></app-frequence-position-rucher>

  <button *ngIf="!rucherCourant" (click)="creerUnRucher()" type="submit" mat-stroked-button color="primary">Créer</button>
  <button *ngIf="rucherCourant" (click)="modifierUnRucher(rucherCourant, formulaireRucher.value)" [disabled]="rucherService.changementPositionEnCours" type="submit" mat-stroked-button color="primary">Modifier</button>
  
</form>

<span *ngIf="!rucherCourant && rucherService.changementPositionEnCours">Création du rucher en cours...</span>


<!-- Liste des ruchers -->
<h4 *ngIf="rucherService.ruchers.length != 0">Liste ruchers</h4>
<div class="listeRuchers">
  <div *ngFor="let rucher of rucherService.ruchers; let i = index" fxLayout="row" fxLayoutAlign="space-between center">
    <span>{{rucher.identifiant}}</span>
    <div>
      <mat-icon (click)="afficherFormulaireModificationRucher(rucher)" class="bouton">edit</mat-icon>

      <!-- on cache le bouton de suppression si l'utilisateur est en train de modifier ce rucher -->
      <mat-icon *ngIf="rucher != rucherCourant" (click)="supprimerRucher(i)" class="bouton">close</mat-icon>
    </div>
  </div>
</div>