<header fxLayout="row" fxLayoutAlign="space-around center">
  <h3>
    <a routerLink="/front" routerLinkActive="active">Web App'iculture</a>
  </h3>

  <button mat-icon-button [matMenuTriggerFor]="menuNavigation">
    <mat-icon>menu</mat-icon>
  </button>
</header>

<!-- Menu contextuel de navigation -->
<mat-menu #menuNavigation="matMenu">
  <button  mat-menu-item routerLink="/back/configuration">
    <mat-icon >settings</mat-icon>
    <span>Configuration</span>
  </button>
  <button  mat-menu-item>
    <mat-icon>home</mat-icon>
    <span>Ruches & Ruchers</span>
  </button>
</mat-menu>

<router-outlet></router-outlet>
